In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
df=pd.read_csv('glass.data',header=None)

In [6]:
df.head()

   0        1      2     3     4      5     6     7    8    9   10
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0   1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0   1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0   1
3   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0   1
4   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0   1

In [7]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 11 columns):
0     214 non-null int64
1     214 non-null float64
2     214 non-null float64
3     214 non-null float64
4     214 non-null float64
5     214 non-null float64
6     214 non-null float64
7     214 non-null float64
8     214 non-null float64
9     214 non-null float64
10    214 non-null int64
dtypes: float64(9), int64(2)
memory usage: 18.5 KB

In [8]:
cols=['Id_Number','RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','Type']

In [9]:
df.columns=cols

In [10]:
df.head()

   Id_Number       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0          1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1          2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2          3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3          4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4          5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [11]:
df.describe()

,Id_Number,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,107.500000,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,61.920648,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.000000,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,54.250000,1.516523,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,107.500000,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,160.750000,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,214.000000,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

In [14]:
x=df.iloc[:,1:10]

In [15]:
x.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0

In [16]:
y=df.iloc[:,10:]

In [17]:
y.head()

   Type
0     1
1     1
2     1
3     1
4     1

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.4,random_state=3)

In [20]:
x_train.head()

          RI     Na    Mg    Al     Si     K     Ca   Ba    Fe
24   1.51720  13.38  3.50  1.15  72.85  0.50   8.43  0.0  0.00
89   1.51640  12.55  3.48  1.87  73.23  0.63   8.08  0.0  0.09
103  1.52725  13.80  3.15  0.66  70.57  0.08  11.64  0.0  0.00
8    1.51918  14.04  3.58  1.37  72.08  0.56   8.30  0.0  0.00
53   1.51837  13.14  2.84  1.28  72.85  0.55   9.07  0.0  0.00

In [21]:
from sklearn.neighbors import KNeighborsClassifier

In [22]:
model=KNeighborsClassifier(n_neighbors=3)

In [23]:
model.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [24]:
pred= model.predict(x_test)

In [25]:
pred

array([1, 1, 2, 5, 2, 7, 7, 2, 1, 7, 2, 2, 1, 1, 5, 5, 2, 7, 1, 2, 7, 2,
       2, 1, 1, 3, 7, 1, 1, 5, 3, 2, 5, 2, 1, 1, 2, 6, 2, 1, 6, 2, 1, 1,
       7, 3, 1, 1, 7, 5, 1, 2, 1, 1, 1, 7, 1, 1, 1, 2, 2, 2, 1, 5, 1, 1,
       2, 1, 2, 2, 2, 1, 2, 2, 1, 1, 1, 1, 2, 7, 2, 7, 5, 2, 2, 1],
      dtype=int64)

In [26]:
from sklearn.metrics import confusion_matrix

In [27]:
confusion_matrix(y_test,pred)

array([[21,  2,  2,  0,  0,  0],
       [ 7, 23,  0,  3,  1,  0],
       [ 5,  0,  1,  0,  0,  0],
       [ 0,  1,  0,  4,  0,  0],
       [ 0,  1,  0,  1,  0,  0],
       [ 1,  1,  0,  0,  1, 11]], dtype=int64)

In [28]:
from sklearn.metrics import accuracy_score

In [29]:
accuracy_score(y_test,pred)

0.6976744186046512